/* =========
Your custom styles go here
 ========= */
.cah-card {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Helvetica Neue", "Helvetica"; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    padding: 1em;
}
